main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

table {
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;

}

table * {
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}

th {
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: aquamarine;
}

tr:nth-child(even) {
    background-color: cadetblue;
}

button {
    padding: 10px;
    background-color: aliceblue;
    border: solid 2px black;
    border-radius: 4px;
}

form.visible {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 20px;
}

form.hidden {
    display: none;
}

form * {
    margin-bottom: 10px;
}